@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

#root{
    /* min-height: 100vh;
    display: flex; */
    animation: fadee 1.3s 
  }
  
  @keyframes fadee {
    0%{
      opacity: 0;
  
    }
  
    100%{
      opacity: 1;
  
    }
    
  }
  
  